<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringOnDocker" type="docker-deploy" factoryName="dockerfile" server-name="Docker">
    <deployment type="dockerfile">
      <settings>
        <option name="imageTag" value="lab8:v1" />
        <option name="containerName" value="lab08" />
        <option name="envVars">
          <list>
            <DockerEnvVarImpl>
              <option name="name" value="SPRING_DATASOURCE_URL" />
              <option name="value" value="jdbc:mysql://host.docker.internal:3306/eventos" />
            </DockerEnvVarImpl>
          </list>
        </option>
        <option name="portBindings">
          <list>
            <DockerPortBindingImpl>
              <option name="containerPort" value="8080" />
              <option name="hostIp" value="localhost" />
              <option name="hostPort" value="8080" />
            </DockerPortBindingImpl>
          </list>
        </option>
        <option name="commandLineOptions" value="--add-host=host.docker.internal:host-gateway" />
        <option name="sourceFilePath" value="Dockerfile" />
      </settings>
    </deployment>
    <method v="2" />
  </configuration>
</component>